<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title>SQL Challenge</title>
 </head>
 <body>
   <div class="container">
     <h1>Users List</h1>
     <a href='users/new'>Add User</a>
     <table>
       <tr>
         <th>Name</th>
         <th>Email</th>
         <th>Password</th>
       </tr>
       <% users.forEach( function(user){ %>
         <tr>
           <td><a href='/users/<%=user.id %>'><%= user.name %></a></td>
           <td><%= user.email %></td>
           <td><%= user.password %></td>
           <td><a href='/users/<%=user.id %>/edit'>Edit</a></td>
           <td><a href='/users/<%=user.id %>?_method=DELETE'>Delete</a></td>
         </tr>
       <% }); %>
     </table>
   </div>
 </body>
</html>
