<h2>Edit Blog (<%= user.name %>)</h2>
<form class="" action="users/<%= user.id %>/edit" method="post">
  <input type="text" name="title" value=<%= user.name %> placeholder="Enter Title" />
  <input type="textarea" name="blog" value=<%= user.email %> placeholder="Enter Blog" />
  <input type="text" name="password" value=<%= user.password %> placeholder="Enter Password" />
  <input type="submit" value="Submit" />
</form>
